.product {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.productImage {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  margin-right: 20px;
  width: 500px;
  height: 500px;
  float: left;
  img {
    display: block;
    margin: auto;
    max-width: 498px;
    max-height: 498px;
  }
}

.productDescription {
  .title {
    margin-top: 0;
  }
  .description {
    margin-bottom: 20px;
  }
  .price {
    span {
      font-weight: 500;
      font-family: 'OpenSans-Bold';
    }
  }

  .buttons {
    margin-top: 30px;
    .addToCartBtn {
      margin-right: 20px;
    }
    .removeBtn {

    }
  }
}