$regular: 'OpenSans-Regular';
$bold: 'OpenSans-Bold';

body {
  background-color: #eee;
  font-family: $regular;
}

a {
  text-decoration: none;
}

.center-wrapper {
  max-width: 1248px;
  padding: 0 15px;
}

.main {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
}

.categoryName {
  font-weight: 500;
  margin: 1em 0; 
}
