.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px #ccc;
  .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 1248px;
    margin: 0 auto;
    padding: 5px 15px;
  }
  .menuItem {
    height: 30px;
    line-height: 30px;
    &_signin {
      a {
        height: 30px;
        line-height: 30px;
        color: #0654ba;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .userMenuContainer {
    position: relative;
    &:hover .userMenuList {
      display: block;
    }
    .userName {
      padding: 0 5px;
    }
    .userMenuList {
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0,0,0, .2);
      display: none;
      list-style: none;
      padding: 7px;
      width: 120px;
      position: absolute;
      top: 29px;
      &Item {

      }
    }
  }
}